<div class="row">
  <div class="col-md-8">
    <%= simple_form_for @post do |f| %>
      <div class="form-group">
        <%= f.attachment_field :documents_files, as: :attachment, multiple: true %>
      </div>
      <div class="form-group">
        <%= f.button :submit %>
      </div>
    <% end %>
  </div>
  <div class="col-md-4"></div>
</div>
